<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cnmi.it.asthmaprototype">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AsthmaPrototype">
        <activity android:name=".Activities.StatsActivity"></activity>
        <activity android:name=".Activities.GuideActivity" />
        <activity android:name=".HospitalSelectActivity" />
        <activity
            android:name=".Activities.AddMedActivity"
            android:exported="true" />
        <activity android:name=".Activities.AfterFlow" />
        <activity android:name=".Activities.RedWarning" />
        <activity android:name=".Activities.YellowWarning" />
        <activity android:name=".Activities.GreenWarning" />
        <activity android:name=".Activities.PatientConfig" />
        <activity android:name=".Activities.Profile" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AsthmaPrototype.NoActionBar" />
        <activity android:name=".Activities.LoginActivity" />
        <activity
            android:name=".Activities.Dashboard"
            android:parentActivityName=".Activities.LoginActivity" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:parentActivityName=".Activities.LoginActivity" />
        <activity android:name=".Activities.FlowActivity" />
        <activity android:name=".Activities.splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>